<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
 
  <ng-container  matColumnDef="is_selected">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <input type="checkbox" name="is_checked">
    </td>
  </ng-container>

  <ng-container  matColumnDef="is_important">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img src="../assets/icons/green_star_icon.png"/>
    </td>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container matColumnDef="document_name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" name="document_name"> {{element.document_name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>