table {
    width: 20%;
}
tr.mat-header-row {
    height: 30px;
}
tr.mat-footer-row, tr.mat-row {
    height: 30px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 48px;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 5px;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 132px;
}
td.mat-cell {
    /* row border */
    border-bottom: 1px solid #ffa600;
    border-top: 1px solid #ffa600;
}
td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-bottom: 4px;
}


